html,
body {
  height: 100%;
}

body {

  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #36626a;
}

.form-registro {
  width: 100%;
  max-width: 530px;
  padding: 70px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.75);
  border: #36626a;
  text-align: center;
  border-radius: 20px;
  color: #36626a;

}
.form-registro .checkbox {
  font-weight: 100;
}
.form-registro .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 5px;
  font-size: 16px;
}

.form-registro .form-control:focus {
  z-index: 2;

}
.form-registro input[type="email"] {
  margin-bottom: 10px;

}
.form-registro input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-registro input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
